h1{
  color: rgb(41, 10, 10);
}
img{
  height: 600px;
  width: 500px;
}
ul{
  background-color: rgb(75, 204, 92);
  width: 600px;
  margin: 0px auto;
  padding: 50px;
  border: 5px solid #666;
}
#spanId{
  font-size: 18px;
  margin: 50px 50px;
  color: rgb(11, 146, 34);
}
body{
  background: url(fondo.jpg);
  background-size: cover;
  text-align: center;
}
.divClass{
  margin: 0px auto;
}